{%extends 'base.html'%} 
{%block title%}About{%endblock%} 
{%block content%}
<h5>This website is useful to fetch the latest articles from your favorite websites which you check each and every day. It saves
you a lot of time as instead of going to those websites you just have to come to this website for your daily dose of those
articles.</h5>
<h3>Technologies Used</h3>
<ul>
    <li>Django 2.0</li>
    <li>Python</li>
    <li>BeautifulSoup 4</li>
    <li>requests library</li>
</ul>
<h3>Hosted on</h3>
<p>Heroku. A very easy way to host django application and for free.</p>

<h3><a href="https://github.com/avinash-tiwari/RSS-django-website.git" target="_blank">GitHub Code</a></h3>
    
{%endblock%}