<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>API References</title>
</head>
<body>
    <div class="container jumbotron">
        <h1>This is the API reference to the database available for the frontend</h1>
        <a href="/api/subs">For Subscriptions</a>
        <br>
        <a href="/api/save">For Saved Articles</a>
        <br>
        <a href="/api/read">For Read Articles</a>
        <br>
        <a href="/api/feedback">For Feedback</a>
        <br>
    </div>
</body>
</html>