{%extends 'base.html'%}
{% load extras %}
{%block content%}
    {%if user.is_authenticated%}
        {%if user.is_superuser%}
            <table class='table'>
                <thead>
                    <th>From</th>
                    <th>Message</th>
                </thead>
                {%for i in msg%}
                <tr>
                    <td>{{i.from_user}}</td>
                    <td>{{i.message}}</td>
                </tr>
                {%endfor%}
            </table>
        {%else%}
            <div class="jumbotron">
                <h1>Welcome to the RSS Reader</h1>
                <a href="{%url 'add'%}">Add More Subscriptions</a> |  
                <a href="{%url 'list'%}">Your Subscriptions</a>
            </div>
            {% if subs %}
                {%for n,c in dict.items%}
                    <!-- Collapsable UI -->
                    <div style="display:block">
                    <button data-toggle="collapse" data-target="#{{n|cut:" "}}">{{n}} ({{c|length}})</button>
                    <div id="{{n|cut:" "}}" class="collapse">
                            {% for t,l in c.items %}
                                <div class="card">
                                    <div class="card-body">
                                        <a href="{%url 'reader' l%}" target="_blank" class='card-text'>{{t}}</a>
                                        <p class="card-text">{{l}}</p>
                                        <i class="fas fa-star"></i>
                                        <a href="{%url 'save' l t%}" class="btn btn-success card-link">Save</a>
                                        <a href="{%url 'read' l t%}" class="btn btn-warning card-link" id="{{l}}^{{t}}">Mark As Read</a>
                                    </div>
                                </div>
                           {%endfor%}
                        </div>
                    </div>
                    <!----------------------------->

                    <!-- Normal UI -->
                        <!-- <h4>{{n}} ({{c|length}})</h4>
                         {% for t,l in c.items %}
                            <p>
                                <a href="{%url 'reader' l%}" target="_blank">{{t}}</a>
                                <br>
                                <a href="{%url 'save' l t%}" class="btn btn-success">Save</a>
                            </p>
                        {%endfor%} -->
                    <!------------------------------------>
                {%endfor%}
            {% else %}
                <p>No Subscriptions Found
                    <a href="{%url 'add'%}">Add Here</a>
                </p>
            {% endif %}
        {%endif%}
    {%else%}
        <div class="jumbotron">
            <h3>RSS Reader</h1>
            <h6>This is a article aggregator site</h6>
            <p>This site is used to fetch all the new Articles of a day from your favorite websites.</p>
            <p>Instead of going to those websites you just need to come here for your daily feed.</p>
        </div>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="py-5 col-md-6">
                        <div class="row">
                            <div class="text-center col-4"></div>
                            <div class="col-8">
                                <h5 class="mb-3 text-primary">Saves Time</h5>
                                <p class="my-1">It saves the hassle to go to different type of websites just to get the daily dose of Information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-5 col-md-6">
                        <div class="row">
                            <div class="text-center col-4"></div>
                            <div class="col-8">
                                <h5 class="mb-3 text-primary">Easy To Use</h5>
                                <p class="my-1">It is designed in a manner so that anyone can use it effectively and efficiently.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="py-5 col-md-6">
                        <div class="row">
                            <div class="text-center col-4"></div>
                            <div class="col-8">
                                <h5 class="mb-3 text-primary">Reader Mode</h5>
                                <p class="my-1">Packed with a Powerful Reader mode which is very helpful to decrease the clutter making it perfect
                                    for reading purposes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-5 col-md-6">
                        <div class="row">
                            <div class="text-center col-4"></div>
                            <div class="col-8">
                                <h5 class="mb-3 text-primary">Save Article For Later</h5>
                                <p class="my-1">It can also save the article which you like for later References.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {%endif%}
    <script>
        $(function(){
            $('.btn-warning').click(function(e){
                e.preventDefault();
                var lk=e.target.id.split('^');
                /*$.ajax({
                    url:'/read/'+lk[0]+lk[1],
                    success:function(data){
                        if (data=='success')
                            alert('successfully saved');
                        else{
                            alert('there is some error');
                        }    
                    }
                })*/
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function (data) {
                    if (this.readyState == 4 && this.status == 200) {
                        alert(data);
                    }
                };
                xhttp.open("GET", "/read/"+lk[0]+"/"+lk[1], true);
                xhttp.send();
            });
        });
    </script>
{%endblock%}