{%extends 'base.html' %}
{%block title%} Reader Mode {%endblock%}
{%block content%}
    {%if isRss%}
        <a href="{{real}}">Go To The Original Post</a>
        {%for i in paras%}
            <p>{{i}}</p>
        {%endfor%}
    {%else%}
        <h1>Sorry, no RSS links found</h1>
        <p>You Can delete this sub.</p>    
    {%endif%}
    <!-- FACEBOOK COMMENTS HERE     -->
    <div class="fb-comments" data-href="http://rssreader-tiwari.herokuapp.com/" data-width="100%" data-numposts="5"></div>
    <!-- ------------------------------ -->
{% endblock %}